<html>
    <body>
        <h2>Please fill in form</h2>
        <form method="POST" action="/submit">
            <input type="text" name="customer_name" placeholder="enter name"/>
            <input type="text" name="product" placeholder="product interested in"/>
            <input type="text" name="phone_number" placeholder="+25670000000"/>
            <input type="email" name="email" placeholder="john@example.com"/>
            <input type="submit" value="submit"/>
        </form>
    </body>
</html>